.App {
  text-align: center;
  min-height:100vh;
  background-image: url('./images/dashboard-background.jpg');
  background-size: cover;
}
.App-header {
  background-color: #282c34;
  min-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.dashboard-container {
  display:flex;
  justify-content:space-evenly;
  margin:3% auto;
}
.split-container {
  border-radius:25px;
  padding:2%;
  color:white;
  background-image: linear-gradient(purple, red);
}
.title-container {
  color:white;
  background-image: linear-gradient(red, purple);
  margin:0 auto;
  width:25%;
  border-radius:10px;
  padding:1%;
}
.title-container h2 {
  font-size:1.5rem;
}
.profile-div {
  margin: 3%;
  text-align:center;
}
.profile-div label {
  width:100%;
}
.fav-container {
  width:20%;
}
.favorites-list {
  border: 1px solid white;
  padding-bottom:5%;
  border-radius:5px;
}